#ifndef CAN_NODE_{{ node.name.upper() }}_CONF_H
#define CAN_NODE_{{ node.name.upper() }}_CONF_H

#define NODE_ID {{ node_id }}U
#define NUMBER_OF_CAN_MESSAGE_CONFIGS {{ number_of_messages }}U

/* Message masks */
{% for message in messages -%}
#define CAN_MESSAGE_{{ message.name.upper() }}_MASK {{ message['mask'] }}U
#define CAN_MESSAGE_{{ message.name.upper() }}_INDEX {{ loop.index - 1 }}U

{% endfor -%}

#endif /* End of CAN_NODE_{{ node.name.upper() }}_CONF_H */
